.hero {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 5rem; 
  background-color: var(--c-offwhite);

}
.textBox {
  padding: 0 var(--p-mobile);
  text-align: center;
  display: flex; 
  flex-direction: column; 
  align-items: center;
}
.title {
  font-weight: 400;
  color: var(--c-darkblue);
  line-height: 1.2em; 
  font-size: 2.5rem; 
}

.paragraph {
  color: var(--c-gray);
  font-size: 0.9rem;
  margin: 1rem 0 2rem;
  line-height: 1.8em; 
}
.imageBox {
  position: relative;
}

.accent {
  width: 100vw;
}
.mockups {
  position: absolute;
  top: -18vh;
  left: 50%; 
  translate: -50% 0; 
}

@media (min-width: 750px) {
    .hero{
        flex-direction: row; 
        padding: 0 var(--p-desktop); 
    }

    .textBox{
        padding: 0; 
        align-self: center; 
        text-align: left; 
       align-items: flex-start;
    }
    
    .title{
        font-size: 3rem; 
    }
    .paragraph{
        font-size: 1rem; 
        max-width: 30rem; 
    }
    .imageBox{
        translate: 300px 0
    }
}
