.features{
    background-color: var(--c-grayblue);
    padding: 5rem var(--p-mobile); 
}

.title{
    font-weight: 400; 
    font-size: var(--h2-mobile); 
    text-align: center; 
    line-height: 1.3em; 
    color: var(--c-darkblue);
}

.paragraph{
    color: var(--c-gray);
    text-align: center; 
    font-size: .9rem; 
    margin: 1rem 0 5rem; 
}

@media (min-width: 750px) {
    .features{
        padding: 5rem var(--p-desktop); 
    }
    .title{
        text-align: left; 
        font-size: var(--h2-desktop)
    }
    .paragraph{
        text-align: left; 
        font-size: 1rem; 
        max-width: 38rem; 
    }
}